__pycache__
.pytest_cache
.vscode
params
test_sets
sets100
sets400
sets_short
results.txt
*.png
*.csv
sets_short2
yield_results
vector_representation/*.txt
downloaded_validate
out
*.csv